<p>Hi, {{name}}</p>
<p>Please follow the link below to reset your
  <strong><em>station-log.com</em></strong>
  password.</p>
<p>
  <a href='{{url}}'>Reset password</a>
</p>

<p>If you did not request a password reset, please ignore this email.</p>

<p>Thanks,</p>

<p>Your humble IT team 💚</p>

<p>Boonyarit I.</p>